<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/markdown_editor.css">
    <link rel="stylesheet" href="/static/css/text_file_editor.css">
</head>
<body data-standalone="true" class="text-file-page">
    <main id="textFilePage" class="text-file-shell"></main>
    <script src="/static/js/i18n.js"></script>
    <script src="/static/js/app_core.js"></script>
    <script src="/static/js/vendor/marked.umd.js"></script>
    <script src="/static/js/vendor/turndown.js"></script>
    <script src="/static/js/markdown_editor.js"></script>
    <script src="/static/js/text_file_editor.js"></script>
</body>
</html>
